<tr>
  <td>
    <%=enrollment_record.student.surname_name %>
  </td>
  <td>
    <%= ss = @student_studies.detect {|ss| ss.student_id == enrollment_record.student_id }; ss.present? ? ss.studies.course.to_s : enrollment_record.student.studies.first.course.name  %>
  </td>
  <td>
    <%= t(:label_year_of_study_short, :year => semester_to_year_number(ss.present? ? ss.semester_number : enrollment_record.student.student_studies.first.semester_number)) %>
  </td>
  <td>
    <%=l(enrollment_record.created_at, :format => :short) %>
  </td>
  <td>
    <% if can?(:manage_own, @thesis) && enrollment_record.pending? %>
      <p>
        <span class="text-danger"><%=t 'misc.days', :count => 5%></span>
        <%=t :label_accept_period%>
      </p>
    <% else %>
      <%= format_status enrollment_record.current_state %>
    <% end %>
  </td>
  <td>
    <% if can?(:manage_own, @thesis) || can?(:manage_department, @thesis) %>
      <% if enrolled? || !enrollment_record.pending? %>
        <p>
          <span class="text-muted">
            <%=t(:label_accept)%>
            <span class="text-muted">|</span>
            <%=t(:label_reject)%>
          </span>
        </p>
      <% else %>
        <%= link_to t(:label_accept), accept_thesis_thesis_enrollment_path(@thesis, enrollment_record), :class => 'action-accept' %>
        <span class="sep">|</span>
        <%= link_to t(:label_reject), reject_thesis_thesis_enrollment_path(@thesis, enrollment_record), :class => 'action-reject' %>
      <% end %>
    <% end %>
  </td>
</tr>