<% content_for :additional_javascripts do %>
  <% if can?(:manage_own, Diamond::Thesis) %>
    <%= javascript_include_tag 'student_autocomplete' %>
    <%= javascript_include_tag 'supervisor_autocomplete' %>
  <% end %>
<% end %>

<div class="form-group extra-margin">
  <%= f.text_field :title_pl, :class => "form-control", :placeholder => t(:label_thesis_singular), :required => true   %>
</div>
<hr/>
<div class="form-group extra-margin">
  <%= f.label :title_en, t(:label_thesis_singular_en) %>
  <%= f.text_field :title_en, :class => "form-control", :placeholder => t(:label_thesis_singular_enter_en), :required => true  %>
</div>
<div class="form-group extra-margin">
  <%= f.label :thesis_type, t(:label_genre) %>
  <div class="row">
    <% @thesis_types.each do |tt| %>
      <div class="col-md-5">
        <%= f.radio_button :thesis_type_id, tt.id, :required => true, :'aria-required' => true %>
        <%= f.label :thesis_type_id, tt.name %>
      </div>
    <% end %>
  </div>
</div>
<div class="form-group extra-margin">
  <div class="row">
    <div class="col-md-8">
      <%= f.label :student_amount, t(:label_thesis_student_amount) %>
      <%= f.select :student_amount, options_for_select([1,2].collect {|i| [i,i] }, @thesis.student_amount), {}, :class => "form-control" %>
    </div>
    <div class="col-md-8">
      <%= f.label :annual_id, t(:label_annual) %>
      <%= f.select :annual_id, options_for_select(annuals.collect {|annual| [annual,annual.id] }, current_annual.id), {}, :class => "form-control" %>
    </div>
  </div>
</div>
<div class="form-group extra-margin">
  <%= f.label :description, t(:label_thesis_desc) %>
  <%= f.text_area :description, :class => "form-control", :placeholder => t(:label_thesis_desc_enter), :rows => 6, :required => true %>
</div>
<% if can?(:manage, Diamond::Thesis) %>
  <div class="form-group extra-margin">
    <div class="row">
      <div class="col-md-10">
        <%= f.label :supervisor_id, t(:label_supervisor_singular) %>
        <div>
          <%= f.text_field :supervisor_id, :value => f.object.supervisor.try(:surname_name), :class => "typeahead typeahead-supervisor form-control", :autocomplete => :off, :placeholder => t(:label_supervisor_provide_surname), :required => true %>
          <%= f.hidden_field :supervisor_id %>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
<% else %>
  <div>
    <%= f.hidden_field :supervisor_id, :value => current_user.verifable_id %>
  </div>
<% end %>
<% if can?(:manage_own, Diamond::Thesis) %>
  <div class="enrollments">
    <%= f.fields_for :enrollments do |g| %>
      <div class="form-group extra-margin" style="<%= "display: none;" if (g.index+1) > @thesis.student_amount %>">
        <div class="row">
          <div class="col-md-10">

            <%= g.label :student_id, t(:label_student_singular) %>
            <div>
              <%= g.text_field :student_id, :value => g.object.student.try(:surname_name), :class => "typeahead typeahead-student form-control", :autocomplete => :off, :placeholder => t(:label_student_provide_surname) %>
              <%= g.hidden_field :student_id %>
            </div>
          </div>
          <div class="col-md-6">
            <p style="margin-top: 23px">
              <%=t :notice_provide_student%>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :course_ids, t(:label_field_of_study_plural) %>
  <% @courses.each do |arr| %>
    <div class="row">
      <% arr.each do |course| %>
        <div class="col-md-4">
          <%= button_tag course.name, :class => "selectable-btn #{"selectable-btn-hover" if @thesis.assigned_to_course?(course) }", :type => "button" %>
          <%= hidden_field_tag 'thesis[course_ids][]', course.id, (!@thesis.assigned_to_course?(course) || @thesis.new_record? ? {:disabled => true} : {}) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= hidden_field_tag 'thesis[course_ids][]' %>
</div>