<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'filter_form' %>
  <%= javascript_include_tag 'diamond/theses_list' %>
<% end %>
<%= content_for :filter_menu do %>
  <%= form_tag url_for( :action => params[:action], :controller => params[:controller]), :class => 'filter-form' do %>
    <div class="row">
      <% @filters.each do |filter, field| %>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag "#{field}", t("label_filter_#{filter}") %>
            <%= select_tag "#{field}", options_for_select(send("#{filter}_filter_content"), params[field]) {}, :class => "form-control"  %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-3 filter-action pull-right">
        <%= hidden_field_tag :per_page, params[:per_page] %>
        <%= hidden_field_tag :page, params[:page] %>
        <%= button_tag t(:label_filter_action), :class => 'btn btn-danger' %>
        <%= button_tag '', :class => 'btn pull-right refresh-btn', :type => 'button' %>
      </div>
    </div>
  <% end %>
<% end %>
<% if can?(:create, Diamond::Thesis) %>
  <% content_for :content_heading do %>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-11">
        <% if current_user %>
          <div class="pull-right">
            <%= button_tag :class => 'inline-btn select-all', :type => :button do %>
              <%= content_tag :i, nil, :class => 'icon icon-navy icon-checkbox-accept' %>
              <%=t :label_select_all%>
            <% end %>
            <%= form_tag collection_destroy_theses_path, :method => :delete do %>
              <%= button_tag :class => 'inline-btn destroy-all', :type => :button do %>
                <%= content_tag :i, nil, :class => 'icon icon-red icon-delete' %>
                <%=t :label_destroy_selected%>
              <% end %>
            <% end %>
            <% if can?(:manage_department, Diamond::Thesis) %>
              <%= form_tag collection_update_theses_path, :method => :patch do %>
                <%= hidden_field_tag :perform_action, Diamond::Thesis::ACTION_REJECT %>
                <%= button_tag :class => 'inline-btn deny-selected', :type => :button do %>
                  <%= content_tag :i, nil, :class => 'icon icon-red icon-right-arrow' %>
                  <%=t :label_deny_selected%>
                <% end %>
              <% end %>
              <%= form_tag collection_update_theses_path, :method => :patch do %>
                <%= button_tag :class => 'inline-btn accept-selected', :type => :button do %>
                  <%= hidden_field_tag :perform_action, Diamond::Thesis::ACTION_ACCEPT %>
                  <%= content_tag :i, nil, :class => 'icon icon-red icon-accept' %>
                  <%=t :label_accept_selected%>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :content_footnote do %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 paginator">
      <%= will_paginate @theses, :renderer => BootstrapPagination::Rails %>
    </div>
    <div class="col-md-4">
      <div class="pull-right per-page">
        <h6 class="text-list">
          <%=t :label_search_elements_amount%>:
          <%= raw [2,10,20,40,80].collect {|i| link_to(i, diamond.theses_path(:per_page => i)) }.join(" ") %>
        </h6>
      </div>
    </div>
  </div>

<% end %>
<div class="pagination-summary">
  <h6 class="text-list no-margin">
    <%=t :label_thesis_found, :x => @theses.total_entries, :current_page => @theses.current_page, :total_pages => @theses.total_pages %>
  </h6>
</div>

<% if @theses.present? %>
  <%= form_tag url_for( :action => params[:action], :controller => params[:controller]), :class => 'elements-form theses-form' do %>
    <div class="theses-list elements-list">
      <%= render :partial => 'diamond/common/thesis_record', :collection => @theses %>
    </div>
  <% end %>
<% else %>
  <hr>
  <h5 class="text-list extra-margin"><%=t :label_thesis_not_found%></h5>
<% end %>

<div id="modal-dialog" class="modal modal-dialog-centering">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
        <h5>Are you sure</h5>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" id="btnConfirm" class="btn confirm">OK</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Cancel</a>
      </div>
    </div>
  </div>
</div>
