<% content_for :additional_javascript_libraries do %>
  <%= javascript_include_tag "diamond/thesis" %>
<% end %>
<% content_for :content_heading do %>
  <div class="row">
    <div class="col-md-9">
      <h4>
        <%=t :label_thesis_new_singular%>
      </h4>
    </div>
    <div class="col-md-7">
      <%= render :partial => "new_controls"  %>
    </div>
  </div>
<% end %>
<% content_for :content_footnote do %>
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-7">
      <%= render :partial => "new_controls"  %>
    </div>
  </div>
<% end %>



<%= form_for @thesis, role: "form", :builder => Diamond::DisableableFormBuilder, :html => {:class => "new-thesis"}  do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
