<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'diamond/show_thesis' %>
  <% if (can?(:manage_own, @thesis) && enrollments_available?) || can?(:manage, @thesis) %>
    <%= javascript_include_tag 'student_autocomplete' %>
  <% end %>
<% end %>
<% if can?(:manage_own, @thesis) %>
  <% content_for :right_column do %>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-2">
        <% if can?(:destroy, @thesis) %>
          <%= button_to thesis_path(@thesis), :method => :delete, :class => 'button-small button-small-red button-delete has-tooltip', :type => :button, 'data-toggle'=>"tooltip", 'data-placement'=>"top", :title=>t(:label_remove) do %>
            <%= content_tag :i, nil, :class => 'icon icon-white icon-delete' %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= button_tag :class => 'button-small button-small-navy', :type => :button do %>
          <%= content_tag :i, nil, :class => 'icon icon-white icon-callendar' %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if can?(:update, @thesis) %>
          <%= link_to edit_thesis_path(@thesis), :class => 'button-small button-small-navy has-tooltip', 'data-toggle'=>"tooltip", 'data-placement'=>"top", :title => t(:label_edit) do %>
            <%= content_tag :i, nil, :class => 'icon icon-white icon-pen' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


<div class="row">
  <div class="col-md-1">
    <div class="label-wrapper">
      <%= thesis_type_label(@thesis) %>
    </div>
  </div>
  <div class="col-md-15">
    <h4>
      <%= @thesis.title %>
    </h4>
  </div>
</div>
<div>
  <hr class="no-margin">
</div>
<div class="row">
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_description%>
    </h6>
  </div>
  <div class="col-md-14">
    <h6 class="text-list">
      <%= @thesis.description %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_genre%>
    </h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-list">
      <%= @thesis.thesis_type %>
    </h6>
  </div>
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_supervisor_singular %>
    </h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-list">
      <%= @thesis.supervisor.try(:full_name) %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_field_of_study_plural%>
    </h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-list">
      <% @thesis.courses.each do |course| %>
        <p class="text-list"><%= course.name %></p>
      <% end %>
    </h6>
  </div>
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_annual %>
    </h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-list">
      <%= @thesis.annual %>
    </h6>
  </div>
</div>
<div class="row">
  <% if current_user %>
    <div class="col-md-2">
      <h6 class="text-muted">
        <%=t :label_status%>
      </h6>
    </div>
    <div class="col-md-6">
      <h6 class="text-list">
        <%= state_label(@thesis.current_state.to_s) %>
      </h6>
    </div>
  <% end %>
  <div class="col-md-2">
    <h6 class="text-muted">
      <%=t :label_enrollment_plural %>
    </h6>
  </div>
  <div class="col-md-6">
    <h6 class="text-list">
      <span>
        <%= @thesis.primary_enrollments_count %>
      </span>
      <span class="text-muted" style="padding: 0 .5em;">
        |
      </span>
      <span>
        <%= @thesis.secondary_enrollments_count %>
      </span>
    </h6>
  </div>
</div>
<div class="section-header extra-margin">
  <h5>
    <% if current_user.try(:employee?) %>
      <%=t :label_thesis_enroll_by_employee %>
    <% else %>
      <%=t :label_thesis_enroll %>
    <% end %>
  </h5>
  <hr>
</div>
<%= form_for [@thesis, @enrollment], :html => {:role => :form, :class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.label :student_id, t(:label_student_singular) %>
      <div>
        <%= f.text_field :student_id, {:value => enrolled_student, :class => "typeahead typeahead-student form-control #{"force-visible" unless can_enroll?}", :autocomplete => :off, :placeholder => t(:label_student_personal_data)}.merge(can_enroll? ? {} : {:disabled => true}) %>
        <%= f.hidden_field :student_id %>
      </div>
    </div>
    <div class="col-md-8">
      <% if !current_user || current_user.student? %>
        <%= f.label :enrollment_type_id, t(:label_enrollment_type_singular) %>
        <%= f.select :enrollment_type_id, options_for_select(@enrollments_types.collect{|et| [et.name, et.id] }, @enrollment.enrollment_type_id), {}, {:class => "form-control #{"force-visible" unless can_enroll?}"}.merge(can_enroll? ? {} : {:disabled => true}) %>
      <% end %>
    </div>
  </div>
  <div class="form-group extra-margin">
    <div class="col-md-16">
      <div class="pull-right">
        <span style="padding-right: 1em;">
          <% if enrolled? %>
            <%= t(:label_thesis_enrolled_by_employee, :student => @student.surname_name) %>
          <% elsif enrollments_available? %>
            <% if !current_user  %>
              <%=t :label_thesis_enroll_login_first %>
            <% elsif can_enroll? %>

            <% elsif defined?(@student) %>
              <%= t(:label_thesis_enrolled_by_employee, :student => @student.surname_name) %>
            <% else %>
              <%= t(:label_thesis_enrolled) %>
            <% end %>
          <% else %>
            <%=t :label_enrollment_unavailable, :day => l(current_semester.thesis_enrollments_begin) %>
          <% end %>
        </span>
        <%= f.submit t(:label_save), {:class => "btn btn-danger"}.merge(can_enroll? ? {} : {:disabled => true}) %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
<div class="section-footer ">
  <hr>
</div>
<div class="subsection-header extra-margin">
  <h4>
    <%=t :label_enrollment_main_plural %>
  </h4>
</div>
<table class="table">
  <tbody>
    <% if @primary_enrollments.present? %>
      <%= render :partial => "enrollment_record", :collection => @primary_enrollments %>
    <% else %>
      <tr>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="subsection-header extra-margin">
  <h4>
    <%=t :label_enrollment_optional_plural %>
  </h4>
</div>
<table class="table">
  <tbody>
    <% if @secondary_enrollments.present? %>
      <%= render :partial => "enrollment_record", :collection => @secondary_enrollments %>
    <% else %>
      <tr>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
